@CHARSET "ISO-8859-1";

header{
	background: url('images/separateur.png') repeat-x bottom;
}

#titre_principal
{
	display: inline-block;
	position: relative;
}

.titre{
	position: relative;
	left: 400px;
	right: 400px;
}

header h1{
	font-size: 2.5em;
	font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2{
	font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}
/* Navigation */

nav
{
    display: inline-block;
    width: 740px;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

body{
	background: url('images/fond_jaune.png');
	color:#181818;
	width:900px;
	margin:auto;
}

/* Corps */

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    top:10px;

}

article
{
    width: 625px;
    margin-right: 15px;
    height:250px;
	position: relative;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    
    width: 235px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

footer
{
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}